@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 500;
  font-style: italic;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 300;
  font-style: italic;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 600;
  font-style: italic;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Montserrat';
}
@font-face {
  font-weight: 700;
  font-style: italic;
  font-family: 'Montserrat';
}
body {
  font-family: 'Montserrat', sans-serif;
}      
